
__pycache__/


pyvenv.cfg
.idea
Scripts

# Distribution / packaging
.Python
eggs/
.eggs/
lib/


# Installer logs
pip-log.txt
pip-delete-this-directory.txt


# Django stuff:
*.log
local_settings.py


# pyenv
.python-version



# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


